<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>dodawanie produktu</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
<h1>Dodaj nowy kosmetyk</h1>

<form th:action="@{/}" id="homeForm">
    <input type="submit" value="strona główna"/>
</form>

<form method="POST" th:action="@{/add}"th:object="${productData}">


    <div>

        <h3>Producent:</h3>
        <input type="text" th:field="*{brand}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('brand')}"
              th:errors="*{brand}">brand Error</span>
        <br/>
        <!--<span th:text="${#fields.hasErrors('brand')}">XXX</span>
        <span class="validationError"
              th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}">Name Error</span>-->

        <br/>
        <h3>Nazwa:</h3>
        <input type="text" th:field="*{name}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}">Name Error</span>
        <br/>
        <br/>
        <h3>Skład:</h3>
        <textarea rows="4" cols="50" th:field="*{ingredients}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('ingredients')}"
              th:errors="*{ingredients}">ingredients Error</span>
        <br/>
        <!--<div th:each=" productType : ${productType}">
            <input name="unwanted" type="checkbox" th:value="${unwanted.id}" />
            <span th:text="${unwanted.name}">INGREDIENT</span><br/>
        </div>-->
        <br/>
        <button>Submit your taco</button>
    </div>
</form>
</body>
</html>
