<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>Nieznane składniki</title>
</head>
<body>
 /// //// TA NIGDY NIE JEST WYKORZYSTYWANA!!!!!!!!!!!!!!!!!!!!!!!!!
<form method="POST" th:action="@{/add/ingredients}" th:object="${unknownList}">

    <h1> nieznane składniki: </h1>


    <div class="ingredient-group" id="proteins">
        <h3>Nieznalezione składniki:</h3>
        <tr th:each="ingredient : ${unknownList}">
            <span th:text="${ingredient.name}">, </span>

           <!-- <input type="submit" name="add" class="button" th:value="${ingredient.name}" value="dodaj składnik" />-->
            <button type="submit" name="add" th:value="${ingredient.name}" > dodaj składnik</button>


            <br>
        </tr>






    </div>
    <!-- wyświetlam listę produktów z każdym z przyciskiem "skład" otwerający okno ze składem-->
</form>



</body>
</html>